/* Grid with no footer */
.big-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr 0.5fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
    "one one one"
    "two three four";
    height: 100vh;
    margin: auto;
  }

  header {
    background-color: gray;
    grid-area: one;
  }

  .left {
    background-color: blue;
    grid-area: two;
  }

  main {
    background-color: yellow;
    grid-area: three;
  }

  .right {
    background-color: green;
    grid-area: four;
  }
  /* Image scales */
  header img {
    width: 100%;
  }

  /* Table and table-cell display makes h1 take up less space.
  Couldn't get input on same line as h1 */
  .header {
    display: table;
  }

  h1 {
    display: table-cell;
    white-space: nowrap;
}
  
input {
    display: table-cell;
    padding: 0 4px 0 6px;
}
